*.o
*~
.deps/
config.h
config.h.in
config.log
config.status
configure
configure.scan
depcomp
install-sh
makerscanner
missing
Makefile
aclocal.m4
autom4te.cache
autoscan.log
stamp-h1
Makefile.in
compile
bin
gmon.out